{% extends "layout.html" %}

{% block content %}
    <!-- row -->
    <div class="row tm-content-row tm-mt-big">
        <div class="col-xl-8 col-lg-12 tm-md-12 tm-sm-12 tm-col"style="padding-top:0px">
            <div class="bg-white tm-block h-100" >
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <h2 class="tm-block-title d-inline-block">About Me</h2>
                    </div>
                    <div>
                        Working on this project to familiarize me with flask and connecting to a database through python.
                        I like learning and think that there is great value in learning to program.
                        Check out some of the other work I am doing.
                    <hr />
                    </div>
                </div>
                <div class="row">
                        <div class="column" style="width:30%">
                            <a target='_blank' href='https://www.linkedin.com/in/jaceiverson'>
                          <button >
                          LinkedIn
                          </button>
                            </a>

                        </div>
                        <div class="column" style="width:30%">
                            <a target='_blank'href="https://www.github.com/jaceiverson">
                                <button>GitHub</button>
                            </a>

                        </div>
                    <div class="column" style="width:30%">
                        <a target='_blank'href="https://jaceiverson.com/jaceiversonprofile/bulma/bulmatest.html">
                          <button>Personal Website</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-12 tm-md-12 tm-sm-12 tm-col" style="padding-top:0px">
            <div class="tm-block h-100">
                <row align="center"></row>
                <h2 class="tm-block-title d-inline-block" style="text-align:right; color:white">Jace Iverson</h2><br>
                <img src="./static/img/falls.jpg" style="width: 100%; height: auto; border-radius: 25px"></img><br>
            </div>
        </div>
    </div>

{% endblock %}