{% extends "layout.html" %}

{% block content %}
            <div class="row" style="width: 100%; padding-left:10%">
                <div class="column" align='center' style="padding:25px">
                    <a href="/stats">
                        <h2 style="color:white">Stats</h2>
                        <img src="./static/img/dragontail-9.22.1/9.22.1/img/item/3041.png" href="/stats" class="center" style="border-radius: 10px; width:125%">
                    </a>
                </div>
                <div class="column" align='center'style="padding:25px">
                        <a href="/champions">
                            <h2 style="color:white;">Champions</h2>
                            <img src="./static/img/dragontail-9.22.1/9.22.1/img/sprite/champion0.png" href="/champions" class="center" style="width: 50%"><br>
                            <img src="./static/img/dragontail-9.22.1/9.22.1/img/sprite/champion1.png" href="/champions" class="center" style="width: 50%">
                        </a>
                </div>

                <div class="column" align='center' style="padding:25px">
                    <a href="/home">
                        <h2 style="color:white">Summoner Info</h2>
                        <img src="./static/img/dragontail-9.22.1/9.22.1/img/profileicon/4357.png" href="/stats" class="center" style="border-radius: 10px; width:65%">
                        <p style="color: white">Coming Soon!</p>
                    </a>
                </div>
            </div>

    <script src="./static/js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="./static/js/moment.min.js"></script>
    <!-- https://momentjs.com/ -->
    <script src="./static/js/utils.js"></script>
    <script src="./static/js/Chart.min.js"></script>
    <!-- http://www.chartjs.org/docs/latest/ -->
    <script src="./static/js/fullcalendar.min.js"></script>
    <!-- https://fullcalendar.io/ -->
    <script src="./static/js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script src="./static/js/tooplate-scripts.js"></script>

{% endblock %}