<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jace's MIS5400 Project</title>
    <!--

    Template 2108 Dashboard

	http://www.tooplate.com/view/2108-dashboard

    -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="../static/css/fontawesome.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="../static/css/fullcalendar.min.css">
    <!-- https://fullcalendar.io/ -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="../static/css/tooplate.css">
</head>

<body id="reportsPage" style="background-image: url(./static/img/dragontail-9.22.1/9.22.1/img/mission/eos_8_rewards_background.png);">
    <div class="" id="home">
        <div class="container" style="padding-top:25px">
            <div class="row" >
                <div class="col-12" >
                    <nav class="navbar navbar-expand-xl navbar-light bg-light" style="border-radius:25px; ">
                        <a class="navbar-brand" href="/">

                            <h1 class="tm-site-title mb-0" style="color:#999999">League of Legends Project</h1>

                        </a>
                        <a target="_blank" href="https://na.leagueoflegends.com/en/" >

                            <img src="./static/img/icon.png" style="width:30%; height: auto; padding-right:-25px">

                        </a>
                        <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mx-auto">
                                <li class="nav-item">
                                    <a class="nav-link active" href="/home">Home
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/champions">All Champions</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/stats">Stats</a>
                                </li>

                                <!--
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        Champion
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/stats">Champion Stats</a>
                                        <a class="dropdown-item" href="/champions">Champion Spells</a>
                                        <a class="dropdown-item" href="/champions">All Champions</a>
                                    </div>
                                </li>
                                -->
                                <li class="nav-item">
                                    <a class="nav-link" href="/about">About me</a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

    {% block content %}
    {% endblock %}
    <hr />
    <footer>
        <p style="color:white">&copy; {{ year }} - My Flask Application</p>
    </footer>
</body>
</html>